* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
}
body{
  background-color: black;
  color: whitesmoke;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  padding: 20px;
  border-radius: 20px;
  height: 100vh;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.form div {
  padding: 20px;
}
.input input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid whitesmoke;
  font-size: 20px;
  padding: 10px;
  color: whitesmoke;
  transition: 0.5s all ease-in-out;
}
.btn button {
  background-color: transparent;
  border: 1px solid whitesmoke;
  outline: none;
  color: whitesmoke;
  padding: 10px;
  font-size: 20px;
}
.btn button:hover{
    background-color: whitesmoke;
    color: black;
}
.weather-Data{
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(27, 27, 27);
  font-size: 18px;
  /* From https://css.glass */
background: rgba(102, 99, 99, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.8px);
-webkit-backdrop-filter: blur(7.8px);
}
.weather-Data .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: grey;
}
.weather-Data .head .cityname{
  font-size: 35px;
}.weather-Data .head .card ,.day , .date {
  font-size: 15px !important;
  color: rgb(33, 33, 33);
}
.temp{
  font-size: 100px;
  text-align: center;
}
.other{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  color: grey;
}
.other .min:hover, .max:hover , .hum:hover, .wind:hover , .cityname:hover{
  color: white;
}
.temp:hover{
  color: grey;
}